html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  border-top: solid 3px #2d5a4d;
  border-bottom: solid 3px #2d5a4d;

}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  background-color: #467366;
  border: solid 3px #2d5a4d;
  border-radius: 8px;
  color: #fff;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
