html {
  font-family: Lora, serif;
}

.masthead {
  background-color: #588477;
  border-bottom: solid 3px #2d5a4d;
  border-top: solid 3px #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  background-color: #467366;
  border: solid 3px #2d5a4d;
  border-radius: 8px;
  color: #fff;
}

.nav a:hover {
  background-color: #fff;
  color: #145b1d;
  background-image: url("../images/leaf-icon.svg");
  background-size: 3.5em;
  background-repeat: no-repeat;
  background-position: .75em;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0), rgba(16, 52, 41, 0), rgba(16, 52, 41, 0), rgba(16, 52, 41, .8)), url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.banner-content {
  color: #fff;
  padding-top: 19em;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 5.3em;
  background-position: 1em 12em;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
